<section class="revolution_slider">
	<div class="r_slider">
		<ul>
			<%= content_tag :li, data: {transition: 'curtain-1', slotamount: '7', custom: {thumb: 'slide_02.jpg'}}, :class => 'f_left' do %>
				<%= image_tag 'fw_slide_03.jpg', data: {bgrepeat: 'no-repeat', bgfit: 'cover', bgposition: 'center center'} %>
				<div class="caption sfl str f_size_large color_light tt_uppercase slider_title_3" data-x="736" data-y="97" data-speed="500" data-start="2500">Meet New Theme</div>
				<div class="caption sfr stl slider_divider" data-x="787" data-y="129" data-speed="500" data-start="2500"></div>
				<div class="caption lft stb color_light slider_title tt_uppercase t_align_c" data-x="588" data-y="140" data-speed="1500" data-easing="easeOutBounce"><b>Attractive &amp; Elegant<br>HTML Theme</b></div>
				<div class="caption sft stb color_light slider_title_2" data-x="761" data-y="272" data-speed="900" data-start="2300">$<b>15.00</b></div>
				<div class="caption sft stb color_light" data-x="742" data-y="335" data-speed="900" data-start="2600">
					<a href="#" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">Buy Now</a>
				</div>
			<% end %>
			<%= content_tag :li, data: {transition: 'cube', slotamount: '7', custom: {thumb: 'slide_01.jpg'}}, :class => 'f_left' do %>
				<%= image_tag 'fw_slide_02.jpg', data: {bgrepeat: 'no-repeat', bgfit: 'cover', bgposition: 'center center'} %>
				<div class="caption lft ltb f_size_large tt_uppercase slider_title_3 scheme_color" data-x="264" data-y="126" data-speed="300" data-start="1700">New arrivals</div>
				<div class="caption sfb stt slider_divider type_2" data-x="298" data-y="153" data-speed="400" data-start="1700"></div>
				<div class="caption lft ltb color_light slider_title tt_uppercase t_align_c" data-x="95" data-y="170" data-speed="500" data-easing="ease" data-start="1400"><b><span class="scheme_color">Spring/Summer 2014</span><br><span class="color_dark">Ready-To-Wear</span></b></div>
				<div class="caption lfb ltt color_light" data-x="206" data-y="318" data-speed="500" data-start="1700">
					<a href="#" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">View Collection</a>
				</div>
			<% end %>
			<%= content_tag :li, data: {transition: 'cube', slotamount: '7', custom: {thumb: 'slide_03.jpg'}}, :class => 'f_left' do %>
				<%= image_tag 'fw_slide_01.jpg', data: {bgrepeat: 'no-repeat', bgfit: 'cover', bgposition: 'center center'} %>
				<div class="caption lft ltt" data-x="center" data-y="58" data-speed="1500" data-start="1200" data-easing="easeOutBounce">
					<%= image_tag 'slider_layer_img.png' %>
				</div>
				<div class="caption sfb stb color_light slider_title tt_uppercase t_align_c" data-x="center" data-y="246" data-speed="1000" data-easing="ease" data-start="2500"><b class="color_dark">up to 70% off</b></div>
				<div class="caption sfb stb color_light" data-x="center" data-y="352" data-speed="1000" data-start="2900">
					<a href="#" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">Shop Now</a>
				</div>
			<% end %>
		</ul>
	</div>
</section>
<div class="page_content_offset">
	<div class="container">
		<!--banners-->
		<div class="row clearfix m_xs_bottom_30">
			<div class="col-lg-4 col-md-4 col-sm-4 m_bottom_50 m_xs_bottom_0">
				<a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners red t_align_c tt_uppercase vc_child n_sm_vc_child">
					<span class="d_inline_middle">
						<%= image_tag 'banner_img_3.png', :class => 'd_inline_middle m_md_bottom_5' %>
						<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
							<b>100% Satisfaction</b><br><span class="color_dark">Guaranteed</span>
						</span>
					</span>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners green t_align_c tt_uppercase vc_child n_sm_vc_child">
					<span class="d_inline_middle">
						<%= image_tag 'banner_img_4.png', :class => 'd_inline_middle m_md_bottom_5' %>
						<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
							<b>Free Shipping</b><br><span class="color_dark">On All Items</span>
						</span>
					</span>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4">
				<a href="#" class="d_block animate_ftb h_md_auto banner_type_2 r_corners orange t_align_c tt_uppercase vc_child n_sm_vc_child">
					<span class="d_inline_middle">
						<%= image_tag 'banner_img_5.png', :class => 'd_inline_middle m_md_bottom_5' %>
						<span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
							<b>Great Daily Deals</b><br><span class="color_dark">Shop Now!</span>
						</span>
					</span>
				</a>
			</div>
		</div>
		<!--filter navigation-->
		<div class="clearfix">
			<ul class="horizontal_list clearfix tt_uppercase isotope_menu f_size_ex_large f_left f_xs_none m_xs_bottom_15" data-carousel-filter=".wfilter_carousel">
				<li class="active m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter="*">All</button></li>
				<li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter="filter_class_featured">Featured</button></li>
				<li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter="filter_class_new">New</button></li>
				<li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter="filter_class_specials">Specials</button></li>
				<li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter="filter_class_hit">Hit</button></li>
				<li class="m_right_5 m_bottom_10 m_xs_bottom_5 animate_ftr"><button class="button_type_2 bg_light_color_1 r_corners tr_delay_hover tt_uppercase box_s_none" data-filter="filter_class_rated">Rated</button></li>
			</ul>
			<div class="f_right clearfix nav_buttons_wrap f_mxs_none m_mxs_bottom_5 f_xs_none">
				<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners wfilter_prev"><i class="fa fa-angle-left"></i></button>
				<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners wfilter_next"><i class="fa fa-angle-right"></i></button>
			</div>
		</div>
		<!--carousel with filter-->
		<div class="wfilter_carousel m_bottom_30 m_xs_bottom_15">
			<figure class="r_corners photoframe shadow relative tr_all_hover filter_class_featured animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative pp_wrap">
					<!--hot product-->
					<span class="hot_stripe"><%= image_tag 'hot_product.png' %></span>
					<%= image_tag 'product_img_1.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Eget elementum vel</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15">$102.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long filter_class_new">
				<!--product preview-->
				<a href="#" class="d_block relative wrapper pp_wrap">
					<%= image_tag 'product_img_2.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Ut tellus dolor dapibus</a></h5>
					<div class="clearfix m_bottom_15">
						<p class="scheme_color f_size_large f_left">$57.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<div class="clearfix">
						<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light f_left mw_0">Add to Cart</button>
						<button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 m_left_5 p_hr_0 d_md_none"><i class="fa fa-files-o"></i></button>
						<button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 p_hr_0 d_md_none"><i class="fa fa-heart-o"></i></button>
					</div>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long filter_class_specials">
				<!--product preview-->
				<a href="#" class="d_block relative wrapper pp_wrap">
					<%= image_tag 'product_img_3.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Cursus eleifend elit aenean aucto.</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15">$99.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative animate_ftb long tr_all_hover filter_class_hit">
				<!--product preview-->
				<a href="#" class="d_block relative pp_wrap">
					<!--sale product-->
					<span class="hot_stripe"><%= image_tag 'sale_product.png' %></span>
					<%= image_tag 'product_img_4.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Aliquam erat volutpat</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15"><s>$79.00</s> $36.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative animate_ftb long tr_all_hover filter_class_rated">
				<!--product preview-->
				<a href="#" class="d_block relative pp_wrap">
					<!--hot product-->
					<span class="hot_stripe type_2"><%= image_tag 'hot_product_type_2.png' %></span>
					<%= image_tag 'product_img_5.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Eget elementum vel</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15">$102.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long filter_class_featured">
				<!--product preview-->
				<a href="#" class="d_block relative wrapper pp_wrap">
					<%= image_tag 'product_img_6.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
					<span class="clearfix p_buttons d_block tr_all_hover">
						<span class="box_s_none button_type_5 tr_delay_hover f_left r_corners color_light p_hr_0"><i class="fa fa-heart-o"></i></span>
						<span class="box_s_none button_type_5 tr_delay_hover f_left r_corners color_light m_left_5 p_hr_0"><i class="fa fa-files-o"></i></span>
					</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Ut tellus dolor dapibus</a></h5>
					<div class="clearfix m_bottom_15">
						<p class="scheme_color f_size_large f_left">$57.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative animate_ftb long tr_all_hover filter_class_specials">
				<!--product preview-->
				<a href="#" class="d_block relative wrapper pp_wrap">
					<%= image_tag 'product_img_7.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Cursus eleifend elit aenean aucto.</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15">$99.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative animate_ftb long tr_all_hover filter_class_hit">
				<!--product preview-->
				<a href="#" class="d_block relative pp_wrap">
					<!--sale product-->
					<span class="hot_stripe type_2"><%= image_tag 'sale_product_type_2.png' %></span>
					<%= image_tag 'product_img_8.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Aliquam erat volutpat</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15"><s>$79.00</s> $36.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
		</div>
		<!--blog-->
		<div class="row clearfix m_bottom_45 m_md_bottom_35 m_xs_bottom_30">
			<div class="col-lg-6 col-md-6 col-sm-12 m_sm_bottom_35 blog_animate animate_ftr">
				<div class="clearfix m_bottom_25 m_sm_bottom_20">
					<h2 class="tt_uppercase color_dark f_left">From The Blog</h2>
					<div class="f_right clearfix nav_buttons_wrap">
						<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left tr_delay_hover r_corners blog_prev"><i class="fa fa-angle-left"></i></button>
						<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners blog_next"><i class="fa fa-angle-right"></i></button>
					</div>
				</div>
				<!--blog carousel-->
				<div class="blog_carousel">
					<div class="clearfix">
						<!--image-->
						<a href="#" class="d_block photoframe relative shadow wrapper r_corners f_left m_right_20 animate_ftt f_mxs_none m_mxs_bottom_10">
							<%= image_tag 'blog_img_1.jpg', :class => 'tr_all_long_hover' %>
						</a>
						<!--post content-->
						<div class="mini_post_content">
							<h4 class="m_bottom_5 animate_ftr"><a href="#" class="color_dark"><b>Ut tellus dolor, dapibus eget, elementum vel</b></a></h4>
							<p class="f_size_medium m_bottom_10 animate_ftr">25 January, 2013, 5 comments</p>
							<p class="m_bottom_10 animate_ftr">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
							<a class="tt_uppercase f_size_large animate_ftr" href="#">Read More</a>
						</div>
					</div>
					<div class="clearfix">
						<!--image-->
						<a href="#" class="d_block photoframe relative shadow wrapper r_corners f_left m_right_20 animate_ftt f_mxs_none m_mxs_bottom_10">
							<%= image_tag 'blog_img_2.jpg', :class => 'tr_all_long_hover' %>
						</a>
						<!--post content-->
						<div class="mini_post_content">
							<h4 class="m_bottom_5 animate_ftr"><a href="#" class="color_dark"><b>Cursus eleifend, elit aenean set amet lorem</b></a></h4>
							<p class="f_size_medium m_bottom_10 animate_ftr">30 January, 2013, 6 comments</p>
							<p class="m_bottom_10 animate_ftr">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
							<a class="tt_uppercase f_size_large animate_ftr" href="#">Read More</a>
						</div>
					</div>
					<div class="clearfix">
						<!--image-->
						<a href="#" class="d_block photoframe relative shadow wrapper r_corners f_left m_right_20 animate_ftt f_mxs_none m_mxs_bottom_10">
							<%= image_tag 'blog_img_3.jpg', :class => 'tr_all_long_hover' %>
						</a>
						<!--post content-->
						<div class="mini_post_content">
							<h4 class="m_bottom_5 animate_ftr"><a href="#" class="color_dark"><b>In pede mi, aliquet sit ut tellus dolor</b></a></h4>
							<p class="f_size_medium m_bottom_10 animate_ftr">1 February, 2013, 12 comments</p>
							<p class="m_bottom_10 animate_ftr">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. </p>
							<a class="tt_uppercase f_size_large animate_ftr" href="#">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<!--testimonials-->
			<div class="col-lg-6 col-md-6 col-sm-12 ti_animate animate_ftr">
				<div class="clearfix m_bottom_25 m_sm_bottom_20">
					<h2 class="tt_uppercase color_dark f_left f_mxs_none m_mxs_bottom_15">What Our Customers Say</h2>
					<div class="f_right clearfix nav_buttons_wrap f_mxs_none">
						<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left tr_delay_hover r_corners ti_prev"><i class="fa fa-angle-left"></i></button>
						<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners ti_next"><i class="fa fa-angle-right"></i></button>
					</div>
				</div>
				<!--testimonials carousel-->
				<div class="testiomials_carousel">
					<div>
						<blockquote class="r_corners shadow f_size_large relative m_bottom_15 animate_ftr">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</blockquote>
						<%= image_tag 'testimonial_img_1.jpg', :class => 'circle m_left_20 d_inline_middle animate_ftr' %>
						<div class="d_inline_middle m_left_15 animate_ftr">
							<h5 class="color_dark"><b>Marta Healy</b></h5>
							<p>Los Angeles</p>
						</div>
					</div>
					<div>
						<blockquote class="r_corners shadow f_size_large relative m_bottom_15">Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</blockquote>
						<%= image_tag 'testimonial_img_2.jpg', :class => 'circle m_left_20 d_inline_middle animate_ftr' %>
						<div class="d_inline_middle m_left_15">
							<h5 class="color_dark"><b>Alan Smith</b></h5>
							<p>New York</p>
						</div>
					</div>
					<div>
						<blockquote class="r_corners shadow f_size_large relative m_bottom_15">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt.</blockquote>
						<%= image_tag 'testimonial_img_3.jpg', :class => 'circle m_left_20 d_inline_middle animate_ftr' %>
						<div class="d_inline_middle m_left_15">
							<h5 class="color_dark"><b>Anna Johnson</b></h5>
							<p>Detroid</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix">
			<h2 class="color_dark tt_uppercase f_left m_bottom_15 f_mxs_none heading5 animate_ftr">Bestsellers</h2>
			<div class="f_right clearfix nav_buttons_wrap f_mxs_none m_mxs_bottom_5 animate_fade">
				<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners bestsellers_prev"><i class="fa fa-angle-left"></i></button>
				<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners bestsellers_next"><i class="fa fa-angle-right"></i></button>
			</div>
		</div>
		<!--bestsellers carousel-->
		<div class="bestsellers_carousel m_bottom_30 m_xs_bottom_15">
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative pp_wrap">
					<!--hot product-->
					<span class="hot_stripe type_2"><%= image_tag 'hot_product_type_2.png' %></span>
					<%= image_tag 'product_img_5.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Eget elementum vel</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15">$102.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative wrapper pp_wrap">
					<%= image_tag 'product_img_6.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
					<span class="clearfix p_buttons d_block tr_all_hover">
						<span class="box_s_none button_type_5 tr_delay_hover f_left r_corners color_light p_hr_0"><i class="fa fa-heart-o"></i></span>
						<span class="box_s_none button_type_5 tr_delay_hover f_left r_corners color_light m_left_5 p_hr_0"><i class="fa fa-files-o"></i></span>
					</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Ut tellus dolor dapibus</a></h5>
					<div class="clearfix m_bottom_15">
						<p class="scheme_color f_size_large f_left">$57.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative wrapper pp_wrap">
					<%= image_tag 'product_img_7.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Cursus eleifend elit aenean aucto.</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15">$99.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative pp_wrap">
					<!--sale product-->
					<span class="hot_stripe type_2"><%= image_tag 'sale_product_type_2.png' %></span>
					<%= image_tag 'product_img_8.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Aliquam erat volutpat</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15"><s>$79.00</s> $36.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative hit tr_all_hover animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative pp_wrap">
					<!--hot product-->
					<span class="hot_stripe"><%= image_tag 'hot_product.png' %></span>
					<%= image_tag 'product_img_1.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="button_type_5 box_s_none color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Eget elementum vel</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15">$102.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative wrapper pp_wrap">
					<%= image_tag 'product_img_2.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Ut tellus dolor dapibus</a></h5>
					<div class="clearfix m_bottom_15">
						<p class="scheme_color f_size_large f_left">$57.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<div class="clearfix">
						<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light f_left mw_0">Add to Cart</button>
						<button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 m_left_5 p_hr_0"><i class="fa fa-files-o"></i></button>
						<button class="button_type_4 bg_light_color_2 tr_all_hover f_right r_corners color_dark mw_0 p_hr_0"><i class="fa fa-heart-o"></i></button>
					</div>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative wrapper pp_wrap">
					<%= image_tag 'product_img_3.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Cursus eleifend elit aenean aucto.</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15">$99.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
			<figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
				<!--product preview-->
				<a href="#" class="d_block relative pp_wrap">
					<!--sale product-->
					<span class="hot_stripe"><%= image_tag 'sale_product.png' %></span>
					<%= image_tag 'product_img_4.jpg', :class => 'tr_all_hover' %>
					<span data-popup="#quick_view_product" class="box_s_none button_type_5 color_light r_corners tr_all_hover d_xs_none">Quick View</span>
				</a>
				<!--description and price of product-->
				<figcaption>
					<h5 class="m_bottom_10"><a href="#" class="color_dark ellipsis">Aliquam erat volutpat</a></h5>
					<div class="clearfix">
						<p class="scheme_color f_left f_size_large m_bottom_15"><s>$79.00</s> $36.00</p>
						<!--rating-->
						<ul class="horizontal_list f_right clearfix rating_list tr_all_hover">
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li class="active">
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
							<li>
								<i class="fa fa-star-o empty tr_all_hover"></i>
								<i class="fa fa-star active tr_all_hover"></i>
							</li>
						</ul>
					</div>
					<button class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Add to Cart</button>
				</figcaption>
			</figure>
		</div>
		<!--banners-->
		<section class="row clearfix m_bottom_45 m_sm_bottom_35">
			<div class="col-lg-6 col-md-6 col-sm-6 animate_half_tc">
				<a href="#" class="d_block banner wrapper r_corners relative m_xs_bottom_30">
					<%= image_tag 'banner_img_1.png' %>
					<span class="banner_caption d_block vc_child t_align_c w_sm_auto">
						<span class="d_inline_middle">
							<span class="d_block color_dark tt_uppercase m_bottom_5 let_s">New Collection!</span>
							<span class="d_block divider_type_2 centered_db m_bottom_5"></span>
							<span class="d_block color_light tt_uppercase m_bottom_15 banner_title"><b>Colored Fashion</b></span>
							<span class="button_type_6 bg_scheme_color tt_uppercase r_corners color_light d_inline_b tr_all_hover box_s_none f_size_ex_large">Shop Now!</span>
						</span>
					</span>
				</a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 animate_half_tc">
				<a href="#" class="d_block banner wrapper r_corners type_2 relative">
					<%= image_tag 'banner_img_2.png' %>
					<span class="banner_caption d_block vc_child t_align_c w_sm_auto">
						<span class="d_inline_middle">
							<span class="d_block scheme_color banner_title type_2 m_bottom_0 m_mxs_bottom_5"><b>-50%</b></span>
							<span class="d_block divider_type_2 centered_db m_bottom_0 d_sm_none"></span>
							<span class="d_block color_light tt_uppercase m_bottom_15 m_md_bottom_5 d_mxs_none">On All<br><b>Sunglasses</b></span>
							<span class="button_type_6 bg_dark_color tt_uppercase r_corners color_light d_inline_b tr_all_hover box_s_none f_size_ex_large">Shop Now!</span>
						</span>
					</span>
				</a>
			</div>
		</section>
		<!--product brands-->
		<div class="clearfix m_bottom_25 m_sm_bottom_20">
			<h2 class="tt_uppercase color_dark f_left heading2 animate_fade f_mxs_none m_mxs_bottom_15">Product Brands</h2>
			<div class="f_right clearfix nav_buttons_wrap animate_fade f_mxs_none">
				<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners pb_prev"><i class="fa fa-angle-left"></i></button>
				<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners pb_next"><i class="fa fa-angle-right"></i></button>
			</div>
		</div>
		<!--product brands carousel-->
		<div class="product_brands m_sm_bottom_35 m_xs_bottom_0">
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
			<%= link_to image_tag('brand_logo.jpg'), '#', :class => 'd_block t_align_c animate_fade' %>
		</div>
	</div>
</div>