@import 'bootstrap-sprockets';
@import 'bootstrap';

body{
	background: none !important;
	a{
		&:hover{
			background: none;
			text-decoration: none;
		}
	}
}
hr{
	margin-bottom: 0px;
}
.menu_wrap.sticky{
	width: 100%;
}
