<!DOCTYPE html>
<html>
	<head>
	  <title>Flatastic</title>
	  <%= favicon_link_tag 'fav.ico' %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <%= render '/layouts/shim' %>
	</head>
	<body>
		<!-- header start -->
		<%= render '/layouts/header' %>
		<!-- /header end -->
		<!-- Page Content -->
		<%= yield %>
		<!-- /Page Content -->

		<!-- footer start -->
		<%= render '/layouts/footer' %>
		<!-- /footer end -->
	</body>
</html>
